<!DOCTYPE html>
<html>

<head>
    <title>Titanic Passenger Survival Predictor</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="http://use.fontawsome.com/releases/v5.0.8/js/all.js"></script>

</head>

<body>
    <div class="container mt-3">
        <div class="row">

            <div class="card col-lg-6 offset-lg-3 text-center">
                <h2 class="m-3"><strong>Titanic Passenger Survival Predictor</strong></h2>
                <form action="/predict" method="POST">

                    <div class="form-group row mt-3">
                        <label class="col-lg-4 col-4 offset-lg-1 col-form-label">PClass</label>
                        <div class="col-lg-5 col-6">
                            <div class="dropdown">
                                <select class="form-control btn-secondary" name="pclass" id="pclass"
                                    style="background: lightcoral;color: #fff;" onchange="checkSelection(this)"
                                    required>
                                    <option selected disabled value="">Select PClass</option>
                                    <option value="1">First Class</option>
                                    <option value="2">Second Class</option>
                                    <option value="3">Third Class</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-4 offset-lg-1 col-form-label">Gender</label>
                        <div class="col-lg-5 col-6">
                            <div class="dropdown">
                                <select class="form-control btn-secondary" name="gender" id="gender"
                                    style="background: lightcoral;color: #fff;" onchange="checkSelection(this)"
                                    required>
                                    <option selected disabled value="">Select Gender</option>
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-4 offset-lg-1 col-form-label">Siblings</label>
                        <div class="col-lg-5 col-6">
                            <div class="dropdown">
                                <select class="form-control btn-secondary" name="siblings" id="siblings"
                                    style="background: lightcoral;color: #fff;" onchange="checkSelection(this)"
                                    required>
                                    <option selected disabled value="">Select Siblings</option>
                                    <option value="0">None</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-4 offset-lg-1 col-form-label">Embarked</label>
                        <div class="col-lg-5 col-6">
                            <div class="dropdown">
                                <select class="form-control btn-secondary" name="embarked" id="embarked"
                                    style="background: lightcoral;color: #fff;" onchange="checkSelection(this)"
                                    required>
                                    <option selected disabled value="">Select Embarked</option>
                                    <option value="0">Cherbourg</option>
                                    <option value="1">Queenstown</option>
                                    <option value="2">Southampton</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row  mt-5">
                        <div class="col-lg-8 offset-lg-2 col-9 offset-1">
                            <button type="submit" class="btn btn-success" id="calculateButton" onclick="predict();"
                                style="width: 100%;">Predict</button>
                        </div>
                    </div>


                    <div class="row mb-3" id="result-box">
                        <div class="col">
                            <div style="height: 110px;background-color:lightgrey;padding-top: 15px;">
                                <h2 id="result" style="display: none;"><strong>{{predicted_result}}</strong></h2>
                            </div>
                        </div>
                    </div>

            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#result").ready(function () {
                if ($("#result").text() == "Survived") {
                    document.getElementById("result").innerHTML =
                        '<i class="fa fa-smile-o"></i>  <h2 id="result"><strong>Survived</strong></h2>';
                    $("#result").css("color", "green");
                    document.getElementById("result").style.display = "block";
                }

                if ($("#result").text() == "Not Survived") {
                    document.getElementById("result").innerHTML =
                        '<i class="fa fa-frown-o"></i>  <h2 id="result"><strong>Not Survived</strong></h2>';
                    $("#result").css("color", "#f22849");
                    document.getElementById("result").style.display = "block";
                }
            })
        });

        function checkSelection(element) {
            if (element.value != "") {
                element.style.background = "rgb(56, 192, 56)"; //change color to green
            }
        }


        function predict() {

            var pclass = document.getElementById("pclass").value;
            var gender = document.getElementById("gender").value;
            var siblings = document.getElementById("siblings").value;
            var embarked = document.getElementById("embarked").value;

            if (pclass != "" && gender != "" && siblings != "" && embarked != "") {

            }
        }
    </script>

</body>

</html>